{% extends 'base.html' %}

{% block title %}Pesquisar Livro{% endblock %}

{% block content %}
    <h1>Pesquisar Livro por ISBN</h1>
    <form action="{% url 'pesquisar_livro' %}" method="get">
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN:</label>
            <input type="number" class="form-control" id="isbn" name="isbn" required>
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
    {% if livro %}
        <div class="mt-4">
            <h2>Resultados:</h2>
            <p><strong>Título:</strong> {{ livro.titulo }}</p>
            <p><strong>Autor:</strong> {{ livro.autor }}</p>
            <p><strong>Descrição:</strong> {{ livro.descricao }}</p>
        </div>
    {% else %}
        <p>Nenhum livro encontrado.</p>
    {% endif %}
{% endblock %}
